<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>REQUIRES_RESPRING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>id</key>
			<string>enableSpec</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>set</key>
			<string>setTweakEnabled:forSpecifier:</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>icon</key>
			<string>enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>ENABLED_APPS_INFO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kEnabledForAllApps</string>
			<key>label</key>
			<string>ENABLE_FOR_ALL_APPS</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setEnabledForAllApps:forSpecifier:</string>
			<key>icon</key>
			<string>enabledfor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ENABLED_APPS</string>
			<key>detail</key>
			<string>SRApplicationListViewController</string>
			<key>id</key>
			<string>applist</string>
			<key>icon</key>
			<string>enabledfor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>SHOW_HIDE_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SHOW_HIDE_ACTION</string>
			<key>id</key>
			<string>activatorsettings</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.sharedroutine.actiheads</string>
			<key>icon</key>
			<string>showhide</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>DESIGN_VIEW_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>DESIGN_VIEW</string>
			<key>detail</key>
			<string>SRDesignViewListController</string>
			<key>id</key>
			<string>designview</string>
			<key>icon</key>
			<string>design</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>SIZE_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>66</real>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>headsize</string>
			<key>key</key>
			<string>kHeadSize</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>min</key>
			<real>30</real>
			<key>max</key>
			<real>120</real>
			<key>showValue</key>
			<true/>
			<key>set</key>
			<string>setHeadSize:forSpecifier:</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>DISPLAY_MODE_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SRListItemsController</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>displayModeSpec</string>
			<key>key</key>
			<string>kDisplayMode</string>
			<key>label</key>
			<string>DISPLAY_MODE</string>
			<key>set</key>
			<string>setDisplayMode:forSpecifier:</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>validTitles</key>
			<array>
				<string>FREE</string>
				<string>LOCKED</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>icon</key>
			<string>displaymode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>ALLOW_IN_LS_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kAllowInLS</string>
			<key>label</key>
			<string>ALLOW_IN_LS</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>icon</key>
			<string>lockscreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>EXCLUDE_MAIL_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kExcludeMailApp</string>
			<key>label</key>
			<string>EXCLUDE_MAIL</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setExcludeMailApp:forSpecifier:</string>
			<key>icon</key>
			<string>mail</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>HIDE_IN_VIDEOS_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kHideInVideos</string>
			<key>label</key>
			<string>HIDE_IN_VIDEOS</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>icon</key>
			<string>movie</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>ALLOWED_SNAP_LOCATION_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SRListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>snappingedge</string>
			<key>key</key>
			<string>kSnappingEdge</string>
			<key>label</key>
			<string>ALLOWED_SNAP_LOCATION</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>validTitles</key>
			<array>
				<string>SNAP_LEFT</string>
				<string>SNAP_RIGHT</string>
				<string>SNAP_BOTH</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>icon</key>
			<string>edges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>MAX_ALLOWED_APPHEADS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kLimitAppHeads</string>
			<key>label</key>
			<string>LIMIT_APPHEADS</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setLimitAppHeads:forSpecifier:</string>
			<key>icon</key>
			<string>limit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SRListItemsController</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>limitappheads</string>
			<key>key</key>
			<string>kMaxAppHeads</string>
			<key>label</key>
			<string>MAX_APPHEADS</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>15</string>
				<string>20</string>
				<string>25</string>
				<string>30</string>
				<string>50</string>
				<string>75</string>
				<string>100</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>15</integer>
				<integer>20</integer>
				<integer>25</integer>
				<integer>30</integer>
				<integer>50</integer>
				<integer>75</integer>
				<integer>100</integer>
			</array>
			<key>icon</key>
			<string>limit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>SINGLE_TAP_ACTION_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kSingleTapAction</string>
			<key>label</key>
			<string>SINGLE_TAP_ACTION</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>validTitles</key>
			<array>
				<string>SHOW_LIVE_VIEW</string>
				<string>OPEN_APP</string>
				<string>Lock / Unlock AppHead (Free Mode)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>icon</key>
			<string>singleaction</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>HOLD_ACTION_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kHoldAction</string>
			<key>label</key>
			<string>HOLD_ACTION</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>validTitles</key>
			<array>
				<string>SHOW_LIVE_VIEW</string>
				<string>OPEN_APP</string>
				<string>CLOSE_APP</string>
				<string>CLOSE_ALL_APPS</string>
				<string>Lock / Unlock AppHead (Free Mode)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>icon</key>
			<string>holdaction</string>
			<key>set</key>
			<string>setAction:forSpecifier:</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>DOUBLE_TAP_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>key</key>
			<string>kDoubleTapAction</string>
			<key>label</key>
			<string>DOUBLE_TAP_ACTION</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>validTitles</key>
			<array>
				<string>SHOW_LIVE_VIEW</string>
				<string>OPEN_APP</string>
				<string>CLOSE_APP</string>
				<string>CLOSE_ALL_APPS</string>
				<string>Lock / Unlock AppHead (Free Mode)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>icon</key>
			<string>doubleaction</string>
			<key>set</key>
			<string>setAction:forSpecifier:</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>doubletapinterval</string>
			<key>key</key>
			<string>kDoubleTapInterval</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>set</key>
			<string>setDoubleTapInterval:forSpecifier:</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>WHITELIST_APPS_DESCRIPTION</string>
			<key>id</key>
			<string>whitelistdescription</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>WHITELIST_APPS</string>
			<key>detail</key>
			<string>SRApplicationListViewController</string>
			<key>id</key>
			<string>killall_whitelist</string>
			<key>icon</key>
			<string>whitelist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>RECENT_APPS_DESCRIPTION</string>
			<key>id</key>
			<string>recentappsdescription</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>recentapps</string>
			<key>key</key>
			<string>kSuppressRecentlyKilledApps</string>
			<key>label</key>
			<string>SUPPRESS_RECENTLY_KILLED_APPS</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>icon</key>
			<string>killrecent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPHEADS_SETTINGS</string>
			<key>footerText</key>
			<string>TOUCHID_DESCRIPTION</string>
			<key>id</key>
			<string>touchiddescription</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>touchid</string>
			<key>set</key>
			<string>setTouchIDEnabled:forSpecifier:</string>
			<key>key</key>
			<string>kTouchID</string>
			<key>label</key>
			<string>TOUCHID_LIVE_VIEW</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>icon</key>
			<string>touchid</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>biolockdown</string>
			<key>key</key>
			<string>kUseBioLockDown</string>
			<key>label</key>
			<string>BIOLOCKDOWN_INTEGRATE</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>icon</key>
			<string>touchid</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ENABLED_APPS</string>
			<key>detail</key>
			<string>SRApplicationListViewController</string>
			<key>id</key>
			<string>applist_touchid</string>
			<key>icon</key>
			<string>touchid</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT</string>
			<key>footerText</key>
			<string>THANKS_TO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>DEV_AND_DESIGNER</string>
			<key>detail</key>
			<string>SRCreditsViewController</string>
			<key>icon</key>
			<string>developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ACKNOWLEDGEMENTS</string>
			<key>detail</key>
			<string>SRAHAcknowledgementsListController</string>
			<key>icon</key>
			<string>acknowledgements</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESTORE_DEFAULTS</string>
			<key>action</key>
			<string>restoreDefaults:</string>
			<key>icon</key>
			<string>restore</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>footerspec</string>
			<key>footerText</key>
			<string>by Janosch Hübner</string>
		</dict>
	</array>
	<key>title</key>
	<string>APPHEADS_SETTINGS</string>
</dict>
</plist>
