<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DESIGN_SETTINGS</string>
			<key>footerText</key>
			<string>BACKGROUND_VIEW_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>backgroundview</string>
			<key>key</key>
			<string>kBackgroundView</string>
			<key>label</key>
			<string>BACKGROUND_VIEW</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>validTitles</key>
			<array>
				<string>BG_DISMISS_LIVE_VIEW</string>
				<string>NO_BG</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>icon</key>
			<string>design</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DESIGN_SETTINGS</string>
			<key>footerText</key>
			<string>LIVE_VIEW_SIZE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.86</real>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>viewsize</string>
			<key>key</key>
			<string>kViewSize</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>min</key>
			<real>0.5</real>
			<key>max</key>
			<real>0.86</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DESIGN_SETTINGS</string>
			<key>footerText</key>
			<string>CORNER_RADIUS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>cornerradius</string>
			<key>key</key>
			<string>kCornerRadius</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>10</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DESIGN_SETTINGS</string>
			<key>footerText</key>
			<string>BORDER_WIDTH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.sharedroutine.appheads</string>
			<key>id</key>
			<string>borderwidth</string>
			<key>key</key>
			<string>kBorderWidth</string>
			<key>PostNotification</key>
			<string>com.sharedroutine.appheads.settings-changed</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<integer>5</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DESIGN_SETTINGS</string>
			<key>footerText</key>
			<string>BORDER_COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>bordercolor</string>
		</dict>
	</array>
	<key>title</key>
	<string>DESIGN_SETTINGS</string>
</dict>
</plist>
